html, body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "STHeitiSC-Light", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 13px;
  overflow: hidden;
  user-select: none;
}


.line-one {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-align: start;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
