$text-color: #ffa555;

$color-brand: #409EFF;

$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

$color-primary-text: #303133;
$color-darker-border: #CDD0D6;
$color-darker-fill: #E6E8EB;
$color-basic-black: #000000;
$color-regular-text: #606266;
$color-dark-border: #D4D7DE;
$color-dark-fill: #EBEDF0;
$color-basic-white: #FFFFFF;
$color-secondary-text: #909399;
$color-base-border: #DCDFE6;
$color-base-fill: #F0F2F5;
$color-placeholder-text: #A8ABB2;
$color-light-border: #E4E7ED;
$color-light-fill: #F5F7FA;
$color-page-background: #F2F3F5;
$color-disabled-text: #C0C4CC;
$color-lighter-border: #EBEEF5;
$color-lighter-fill: #FAFAFA;
$color-base-background: #FFFFFF;
$color-extra-light-border: #F2F6FC;
$color-extra-light-fill: #FAFCFF;
$color-overlay-background: #FFFFFF;
$color-blank-fill: #FFFFFF;



